@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

main {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo img {
  height: 100px;
  width: auto;
}

.text {
  font-size: x-large;
  margin: 40px 0;
}

.text p {
  display: none;
}

.text .show {
  display: inherit;
  overflow: hidden;
  border-right: 0.15em solid red;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: red;
  }
}

.email {
  margin-bottom: 20px;
  text-decoration: none;
  color: inherit;
}

.email a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.socials {
  margin-top: 30px;
}

.socials ul {
  display: flex;
  margin: 10px;
  width: 100%;
  justify-content: space-between;
}

.socials ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.socials ul li a {
  text-decoration: none;
  color: #000;
  font-size: x-large;
}

.socials ul li a:hover {
  color: rgb(46, 128, 70);
}

.square {
  border: 10px solid rgba(247, 89, 89, 0.1);
  position: absolute;
  height: 750px;
  width: 750px;
  z-index: -10;
  animation: rescale 20s infinite linear;
}

@keyframes rescale {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.square2 {
  border: 10px solid rgba(56, 159, 243, 0.1);
  position: absolute;
  height: 750px;
  width: 750px;
  z-index: -10;
  animation: rescale2 25s infinite linear;
}

@keyframes rescale2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (max-width: 708px) {
  .logo img {
    height: 75px;
    width: auto;
  }

  .circle {
    clip-path: circle(275px at center);
  }

  .square {
    width: 600px;
    height: 600px;
  }

  .square2 {
    width: 600px;
    height: 600px;
  }
}

@media (max-width: 450px) {


  .text {
    font-size: medium
  }

  .email a {
    font-size: 18px;
   
  }

  .socials {
    font-size: 10px
  }

  .logo img {
    height: 45px;
    width: auto;
  }
  .square {
    width: 500px;
    height: 500px;
  }

  .square2 {
    width: 500px;
    height: 500px;
  }

  .socials ul li a {
    text-decoration: none;
    color: #000;
    font-size: medium;
  }
}
